/demo/input/
/demo/output/
.idea
__pycache__
thirdparty/deform_conv/build
thirdparty/deform_conv/deform_conv.egg-info
thirdparty/deform_conv/deform_conv_cuda.cpython-36m-x86_64-linux-gnu.so
thirdparty/deform_conv/deform_pool_cuda.cpython-36m-x86_64-linux-gnu.so